<form action="/accessories" method="post">
    <label for="">NAME</label>
    <input type="text" name="name">
    
    <label for="">MAIN IMAGE</label>
    <input type="text" name="image_url">

    <label for="">IMAGE ONE</label>
    <input type="text" name="image_url_1">

    <label for="">IMAGE TWO</label>
    <input type="text" name="image_url_2">

    <label for="">PRICE</label>
    <input type="text" name="price">

    <label for="">DESCRIPTION</label>
    <textarea name="description"></textarea>

    <button>POST</button>
</form>