<h4>ALL COLLECTIONS</h4>

<div class="wrapper">

<div class="watch">
    <a href="/watches">
        <img src="https://alabaster.industries/cdn/shop/collections/Dec_Allprod_Onblack_0002_AllprodOblack_0007_Layer_3_copy_360x.jpg?v=1701886483" alt="">
    </a>
    <h5><a href="/watches" class="create">WATCHES</a></h5>


<% if(currentUser.user_type === "administrator")  { %>

<div class="secret-div">
    <a href="/watches/new" class="create">CREATE A WATCH</a>
</div>

<% } %>

</div>

</div>

<div class="object">
    <a href="/objects">
        <img src="https://alabaster.industries/cdn/shop/collections/BkackTest2_360x.jpg?v=1648138613" alt="">
    </a>
    <h5><a href="/objects" class="create">OBJECTS</a></h5>

<% if(currentUser.user_type === "administrator")  { %>

<div class="secret-div">
    <a href="/objects/new" class="create">CREATE AN OBJECT</a>
</div>

<% } %>

</div>

<div class="accessorie">
    <a href="/accessories">
        <img src="https://alabaster.industries/cdn/shop/collections/Lighter_bracelet_export_0000_Bracelet_OnblackProd_360x.jpg?v=1701889149" alt="">
    </a>
    <h5><a href="/accessories" class="create">ACCESSORIES</a></h5>


<% if(currentUser.user_type === "administrator")  { %>

<div class="secret-div">
    <a href="/accessories/new" class="create">CREATE AN ACCESSORY</a>
</div>

<% } %>

</div>

</div>
