<h4>All collections</h4>

<div class="watch">
    <a href="/watches">
        <img src="https://alabaster.industries/cdn/shop/files/Dec_Allprod_Onblack_0011_coreonblack_DEC_0000_Layer4.jpg?v=1701833977" alt="">
    </a>
    <h5>Watches</h5>
</div>

<% if(currentUser.user_type === "administrator")  { %>

<div>
    <a href="/watches/new">CREATE A WATCH</a>
</div>

<% } %>

<div class="object">
    <a href="/objects">
        <img src="https://alabaster.industries/cdn/shop/collections/BkackTest2_360x.jpg?v=1648138613" alt="">
    </a>
    <h5>Objects</h5>
</div>

<% if(currentUser.user_type === "administrator")  { %>

<div>
    <a href="/objects/new">CREATE AN OBJECT</a>
</div>

<% } %>

<div class="accessorie">
    <a href="/accessories">
        <img src="https://alabaster.industries/cdn/shop/collections/Lighter_bracelet_export_0000_Bracelet_OnblackProd_360x.jpg?v=1701889149" alt="">
    </a>
    <h5>Accessories</h5>
</div>

<% if(currentUser.user_type === "administrator")  { %>

<div>
    <a href="/accessories/new">CREATE AN ACCESSORY</a>
</div>

<% } %>