<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alabaster</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="//alabaster.industries/cdn/shop/files/favicon-32x32_32x32.png?v=1679069518" type="image/png">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/collections">
                <img src="https://alabaster.industries/cdn/shop/files/headerlogo_x60.png?v=1614318120" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="header-nav">
                <li><a href="">HOME</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>

        <form action="/logout?_method=delete" method="post">
            <button class="logout-btn">LOGOUT</button>
        </form>
    </div>

    <%-body%>
  
    <div class="footer">
        <p>&copy;</p>
        <ul class="footer-nav">
            <li><a href="">Search</a></li>
            <li><a href="">Refund Policy</a></li>
            <li><a href="">Return Policy</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Mailing List</a></li>
            <li><a href="">Do not sell my personal information</a></li>
        </ul>
    </div>
</body>
</html>