<div class="objects-list-wrapper">

    <% for(let object of objects) { %>
    
        <div class="o-ui-card">
            <div class="o-img">
                <img src="<%= object.image_url %>" alt="">
            </div>
            <p class="o-name"><a href="/objects/<%= object.id %>"><%= object.name %></a></p>
            <p class="o-price">$<%= object.price %>.00 AUD</p>
        </div>
    
    <% } %>
    
    </div>