<div class="register-wrapper">

    <form action="/register" method="post">
        
        <div class="register-username">
            <label for="" style="color: white;">Username</label>
            <input type="text" name="username">
        </div>
    
        <div class="register-password"> 
            <label for="" style="color: white;">Password</label>
            <input type="password" name="password">
        </div>

        <div class="register-button-form">
            <button class="sign-up">Register</button>
        </div>

    </form>

</div>