<h2 style="color: white; text-align: center;">CREATE A NEW WATCH</h2>

<form action="/watches" method="post" class="form-main">
    <label for="" class="label-name">NAME</label>
    <input type="text" name="name">
    
    <label for="" class="label-image">IMAGE</label>
    <input type="text" name="image_url">

    <label for="" class="label-price">PRICE</label>
    <input type="text" name="price">

    <label for="" class="label-description">DESCRIPTION</label>
    <textarea name="description"></textarea>

    <button class="post-edit-btn">POST</button>
</form>