<form action="/watches" method="post">
    <label for="">NAME</label>
    <input type="text" name="name">
    
    <label for="">IMAGE</label>
    <input type="text" name="image_url">

    <label for="">PRICE</label>
    <input type="text" name="price">

    <label for="">DESCRIPTION</label>
    <textarea name="description"></textarea>

    <button>POST</button>
</form>