<div class="watches-list-wrapper">

<% for(let watch of watches) { %>

    <div class="w-ui-card">
        <div class="w-img">
            <img src="<%= watch.image_url %>" alt="">
        </div>
        <p class="a-name"><a href="/watches/<%= watch.id %>"><%= watch.name %></a></p>
        <p class="a-price">$<%= watch.price %>.00 AUD</p>
    </div>

<% } %>

</div>